.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
ios/Pods/
ios/.symlinks/
android/.gradle/
android/key.properties
android/app/debug
android/app/profile
android/app/release
.runlogs/
